body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board-container {
  /* border: 3px solid navy; */
  /* display: inline-block; */
  padding: 1%;
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.7);
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 8vmin;
  height: 8vmin;
  margin: 8px;
  display: inline-block;
  background-color: transparent;
}

.blue {
  background-color: transparent;
  box-shadow: 0 0 20px blue;
  /* border: 1px solid rgb(255, 255, 255, 0.5); */
}

.red {
  background-color: transparent;
  box-shadow: 0 0 20px red;
  /* border: 1px solid rgb(255, 255, 255, 0.5); */
}

.checker {
  margin: 10%;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  border: 1px solid white;
}

.red-checker {
  /* background-color: #080707; */
  background-image: url("Images/Trump-Checker.jpg");
  background-size: cover;
  color: #ffffff;
}

.blue-checker {
  /* background-color: rgb(64, 136, 81); */
  background-image: url("Images/Biden-Checkers.jpg");
  background-size: cover;
  color: yellow;
}

.selected {
  border-color: white;
  box-shadow: 0 0 30px yellow;
}

.out-of-play {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 10vw;
}
