body {
 background-color: lightgray;
  text-align: center;
  margin: 0;
  padding: 0;
}

#board-container {
  /* border: 3px solid navy; */
  display: inline-block;
  padding: 20px;

}


.row {
  display: flex;
  justify-content: center;

}

.cell {
  width: 8vw;
  height: 8vw;
  margin: 0px;
  display: inline-block;
  width: 10vh;
  height: 10vh;
}

.blue {
  background-color: #0015BC;
}

.red {
  background-color: #FF0000;
}

.checker {
  margin: 10%;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  border: 1px solid white;
}


.red-checker {
  /* background-color: #080707; */
  background-image: url("Images/Trump-Checker.jpg");
  background-size:cover;

}

.blue-checker {
  /* background-color: rgb(64, 136, 81); */
  background-image: url("Images/Biden-Checkers.jpg");
  background-size: cover;
}